.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .circle {
    background:#1070CA;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
  }
  
  .pulse {
    animation: pulse-animation 2s infinite;
  }

  .disabled {
      background: gray;
      animation: none;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  }
