input {
    border: none;
    background: none;
}

#search-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 40px;
}

#search-container > Input {
    margin-right: 50px;
}