.root {
    .input {
        display: none;

        /*&:checked + .label .icon,*/
        &:checked + .label .switch {
            display: initial;
        }

    }

    .label {
        padding: var(--mantine-spacing-sm) var(--mantine-spacing-sm);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: var(--mantine-spacing-sm);
        border-radius: var(--mantine-radius-md);
        cursor: pointer;
        border: 2px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-8));
        font-size: var(--mantine-font-size-sm);
        user-select: none;
    }

    .input:checked ~ .label {
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
        border-color: var(--mantine-primary-color-filled);
        box-shadow: var(--mantine-shadow-sm);
    }

    .icon {
        display: none;
        color: var(--mantine-primary-color-filled);
    }

    .switch {
        display: none;
    }
}


/*
//.root {
//    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
//    border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-8));
//
//    &[data-active] {
//        border-color: var(--mantine-primary-color-filled);
//        box-shadow: var(--mantine-shadow-sm);
//    }
//
//    @mixin hover {
//        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
//    }
//}
//
//.inner {
//    color: light-dark(black, white);
//    font-weight: normal;
//    justify-content: space-between;
//}
//
//.label {
//    padding-left: var(--mantine-spacing-sm);
//    width: 100%;
//    text-align: start;
//    font-size: var(--mantine-font-size-sm);
//}*/
