# This is a basic workflow to help you get started with Actions

name: Publish Image to Docker Hub

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set Docker Metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          # list of Docker images to use as base name for tags
          images: |
            evanbuss/openbooks
          # generate Docker tags based on the following events/attributes
          flavor: |
            latest=true
          tags: |
            type=sha
            
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          install: true
          use: true

      # - name: Create Buildx Builder
      #   run: docker buildx create --name multiarch --driver docker-container --use
        
      # - name: Check builder
      #   run: docker buildx inspect --bootstrap
 
      # - name: Publish Multi Platform Image
      #   run: docker buildx build --push --platform linux/arm64,linux/amd64 --tag evanbuss/openbooks:latest .

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: evanbuss/openbooks
          short-description: IRC Highway eBook Downloads
          readme-filepath: ./docker.md
